<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377884363993-1etacc134951s1cvd3ouijrr19vafomd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377884363993-1etacc134951s1cvd3ouijrr19vafomd</string>
	<key>API_KEY</key>
	<string>AIzaSyB3vA_fPKYLW1RdDOP5dT84u87cN-EAKpg</string>
	<key>GCM_SENDER_ID</key>
	<string>377884363993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AirAsiaChatApp</string>
	<key>PROJECT_ID</key>
	<string>airasiachatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>airasiachatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377884363993:ios:03482e848ac16ed0a982c8</string>
</dict>
</plist>